@if (parent()) {
  <div class="dashboard-container">
    <mat-card class="parent-info">
      <mat-card-header>
        <mat-card-title>Welcome, {{ parent()!.name }}</mat-card-title>
      </mat-card-header>
    </mat-card>

    <div class="children-container">
      <mat-card class="student-selector">
        <mat-card-header>
          <mat-card-title>Children:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-student-list [students]="children()"></app-student-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
}